<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
		<add name="OASystemMySql" connectionString="server=119.147.171.113;PORT=23306;database=OASystem;uid=jxcW;pwd=ZDjxcW@2017;" providerName="Mysql.Data"/>
		<add name="LocalhostMySql" connectionString="server=127.0.0.1;PORT=3306;database=test;uid=root;pwd=root;" providerName="Mysql.Data"/>
	</connectionStrings>
</configuration>